.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
}

/* карточка */
.card {
  background: #f8f8f8;
  border-radius: 16px;
  padding: 16px;

  display: flex;
  flex-direction: column;
  gap: 12px;

  transition: 0.2s ease;
}

/* заголовок */
.title {
  font-size: 20px;
  font-weight: 600;
}

/* изображение */
.imageWrapper {
  position: relative;
  width: 100%;
  height: 260px;
  border-radius: 12px;
  overflow: hidden;
}

.image {
  object-fit: cover;
}
